:root{
--Red: hsl(0, 78%, 62%);
--Cyan: hsl(180, 62%, 55%);
--Orange: hsl(34, 97%, 64%);
--Blue: hsl(212, 86%, 64%);
/*colores neutrales*/
--Very-Dark-Blue: hsl(234, 12%, 34%);
--Grayish-Blue: hsl(229, 6%, 66%);
--Very-Light-Gray: hsl(0, 0%, 98%);


}
*{
	box-sizing: border-box;
  	margin: 0 0;
      padding: 0 0;
      
}
body{
	background-color: hsla(0, 0%, 98%, 0.6);
	padding: 15px;
	box-sizing: border-box;

}


.titulo{
	margin-top: 30px;
	text-align: center;
	display: block;
	align-content: center;
	position: relative;
	font-family: 'Poppins', sans-serif;
	font-size: 49px;
	font-weight: 100;
	color: var(--Grayish-Blue);
}
.strong{
	font-family: 'Poppins', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color:var(--Very-Dark-Blue);
}
.sub-titulo{
	margin-top: 30px;
	font-size: 22px;
	line-height: 1.4;
	font-family: 'Poppins', sans-serif;
	font-weight: 100;
	color:var(--Grayish-Blue);
}
/*-------------tarjetas---------------*/

.contenedor{
	position: relative;
	display: flex;
	align-items:  center;
	margin: 80px;
	
}
.mitad{
	display: block;
}
.Calculator{
	border-top: 6px solid var(--Blue);
}
.Karma{
	border-top: 6px solid var(--Orange);
}
.Builder{
	border-top: 6px solid var(--Red);
}
.Supervisor{
	border-top: 6px solid var(--Cyan);
}
img{
	width: 50px;
	height: 50px;
	margin-left: auto;
	position: relative;
	display: block;
	margin-top: 30px;
}
.card{
	background: var(--Very-Light-Gray);
	box-shadow: 5px 5px 8px rgba(22, 22, 22, 0.3);
	border-radius: 5px 5px 0 0;
	margin: 10px 10px;
	width: 380px;
	height: 240px;
	padding: 25px;
}
.card h1{
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	color:var(--Very-Dark-Blue);
	font-weight: 400;
}
.card p{
	padding-top:  5px;
	font-family: 'Poppins', sans-serif;
	color: var(--Grayish-Blue);
	font-weight: 100;
	
}